.video-list {
  position: relative;
  left: 20px;
}
.video-list-item {
  display: flex;
  margin-bottom: 5px;
  width: 400px;
}

.video-list-item-image {
  width: 150px;
  height: 110px;
  border-radius: 10px;
  position: relative;
  top: 7px;
}
.video-list-item-title {
  margin-left: 10px;
}
